.pix-grid { border-collapse: collapse; border: 3px solid grey; cursor: default; }
.pix-grid td { width: 10px; height: 10px; }

.pix-black { background-color: black }
.pix-white { background-color: white }
